/*公共样式*/

.fl {
    float: left;
}

.fr {
    float: right;
}


/*版心*/

.w {
    width: 1200px;
    margin: 0 auto;
}


/*header区域*/

.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 312px;
    height: 76px;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/logo.png) no-repeat;
    text-indent: -999px;
    font-size: 0;
}


/* nav部分 */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 76px;
    background-color: rgba(0, 0, 0, .6);
}

header nav .w {
    position: relative;
    color: #fff;
}

nav .tel {
    position: absolute;
    top: 0;
    right: 0;
    width: 940px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-size: 14px;
}

nav .w .an-nav {
    position: absolute;
    top: 30px;
    right: 0;
    height: 46px;
}

nav .an-nav>li {
    overflow: hidden;
    float: left;
    /* 对hover的长度auto过渡不会起效 所以采用最小和最大长度来实现自动效果*/
    min-height: 46px;
    max-height: 46px;
    /* height: 46px; */
    transition: all 1.5s linear;
}

nav .an-nav>li:hover {
    max-height: 500px;
    /* height: auto; */
}

nav ul a {
    display: block;
    width: 94px;
    height: 46px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

nav ul .sub {
    background-color: rgba(0, 0, 0, .6);
}

nav ul .sub li a {
    height: 30px;
    line-height: 30px;
}
header .focus {
    height: 349px;
}
/* main主体 */
main .ny_title {
    height: 87px;
    background: url(../images/ny_title.jpg) no-repeat top center;
    color: #fff;
}
main .sub_title {
    float: left;
    padding: 20px 165px;
}
main .ny_title h3 {
    font-size: 18px;
}
main .ny_title p {
    font-size: 12px;
}
main .ny_title .tels {
    float: right;
    padding: 10px;
}
main .ny_title .tels h2 {
    font-size: 12px;
}
main .ny_title .tels h4 {
    font-size: 18px;
}
main .ny_about {
    height: 1000px;
    padding: 25px;
    background-color: #f3f3f3;
    font-size: 14px;
}
.nav_item {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -700px;
}
.nav_item a {
    display: block;
    width: 100px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #000;
    color: #fff;
}
.nav_item a.current {
    background-color: #fff;
    color: #000;
}
/* foot部分 */
footer {
    height: 263px;
}
footer .foot_2 {
    padding: 30px 160px;
}
footer strong {
    font-size: 14px;
}
footer p {
    font-size: 12px;
    line-height: 30px;
    color: #000;
}
footer .rights {
    margin-top: 20px;
    color: #999;
}
.hotwords {
    color: #e53333;
}