/*公共样式*/
@charset "utf-8";

.fl {
    float: left;
}

.fr {
    float: right;
}

/*版心*/
.w {
    width : 1200px;
    margin: 0 auto;
}

* {
    padding: 0;
    margin : 0;
}

/*header区域*/

.header {
    position: relative;
    height  : 105px;
}

.logo {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 312px;
    height  : 76px;
}

.logo a {
    display    : block;
    width      : 100%;
    height     : 100%;
    background : url(../images/logo.png) no-repeat;
    text-indent: -999px;
    font-size  : 0;
}

/* nav部分 */
nav {
    position        : fixed;
    top             : 0;
    width           : 100%;
    height          : 76px;
    background-color: rgba(0, 0, 0, .6);
}

header nav .w {
    position: relative;
    color   : #fff;
}

nav .tel {
    position   : absolute;
    top        : 0;
    right      : 0;
    width      : 940px;
    height     : 30px;
    line-height: 30px;
    text-align : right;
    font-size  : 14px;
}

nav .w .an-nav {
    position: absolute;
    top     : 30px;
    right   : 0;
    height  : 46px;
}

nav .an-nav>li {
    overflow: hidden;
    float   : left;
    /* 对hover的长度auto过渡不会起效 所以采用最小和最大长度来实现自动效果*/
    min-height: 46px;
    max-height: 46px;
    transition: all .8s linear;
}

nav .an-nav>li:hover {
    max-height: 500px;
}

nav ul a {
    display    : block;
    width      : 94px;
    height     : 46px;
    line-height: 46px;
    color      : #fff;
    text-align : center;
    font-size  : 14px;
}

nav ul .sub {
    background-color: rgba(0, 0, 0, .6);
}

nav ul .sub li a {
    height     : 30px;
    line-height: 30px;
}

.footer {
    height          : 386px;
    background-color: #f5f5f5;
    padding-top     : 30px;
}

.mod_service {
    height       : 79px;
    border-bottom: 1px solid #ccc;
}

.mod_service li {
    float : left;
    width : 240px;
    height: 79px;
}

.mod-service-icon {
    /*浮动的盒子 可以直接给大小的 不需要转换*/
    float      : left;
    width      : 50px;
    height     : 50px;
    margin-left: 35px;
    background : url(../img/icons.png) no-repeat;
}

.mod_service_zheng {
    background-position: -253px -3px;
}

.mod_service_tit {
    float      : left;
    margin-left: 5px;
}

.mod_service_tit h5 {
    margin: 5px 0;
}

.mod_service_kuai {
    background-position: -255px -54px;
}

.mod_service_bao {
    background-position: -257px -105px;
}

.mod_help {
    height       : 187px;
    border-bottom: 1px solid #ccc;
}

.mod_help_item {
    float  : left;
    width  : 150px;
    padding: 20px 0 0 50px;
}

.mod_help_item dt {
    height   : 25px;
    font-size: 16px;
}
/* foot部分 */
footer {
    height: 263px;
}
footer .foot_2 {
    padding: 30px 160px;
}
footer strong {
    font-size: 14px;
}
footer p {
    font-size: 12px;
    line-height: 30px;
    color: #000;
}
footer .rights {
    margin-top: 20px;
    color: #999;
}
.hotwords {
    color: #e53333;
}