.icon {
    font-family: 'iconfont';
}

/* banner部分 */
.banner{
    height:359px ;
    width: 100%;
    background: url(../images/20160130112133492.jpg);
    /* background-color: rgb(230, 78, 78); */
}

/* main主体头部 */
.m_main{
    width: 100%;
    height: auto;
}
.m_title{
    width: 100%;
    height: 87px;
    color: #fff;
    background: url(../images/ny_title.jpg) no-repeat center top;
}
/* 左侧 */
.m_title .m_lf{
    float: left;
    margin: 20px 0 0 160px;
}
.m_lf h3{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
/* 右侧 */
.m_title .w {
    position: relative;
}
.m_title .tels{
    position: absolute;
    right: 0;
    top: 10px;
    float: right;
}
.m_title .tels h2 {
    padding-left: 46px;
    font-size: 12px;
    padding-top: 10px;
}
.m_title .tels h4 {
    padding-left: 46px;
    font-size: 18px;
    font-weight: bold;
}
.m_title .tels i {
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 40px;;
}

/* main主体美食部分 */
.m_food {
    width: 100%;
    height: auto;
    background-color: #F5F5F5;
}
/* 美食顶部导航top */
.m_food_top {
    padding: 25px 0;
    width: 100%;
}
.m_food_top .memu{
    height: 90px;
    overflow: hidden;
}
.m_food_top .memu li{
    width: 12.5%;
    height: auto;
    float: left;
}
.m_food_top .memu li div{
    width: 100%;
    height: 40px;
    padding: 5px 0;
    text-align: center;
    background: url(../images/food_1.jpg) no-repeat center center;
    font-size: 30px;
    color: #fff;
}
.m_food_top .memu li p {
    font-size: 18px;
    color: #000;
    text-align: center;
    padding: 8px 0;
}
.m_food_top .memu li a:hover div {
    background: url(../images/food_2.jpg) no-repeat center center;
}
/* 美食部分middle */
.m_food_middle ul li {
    width: 264px;
    height: 328px;
    float: left;
    background: #fff;
    margin-right: 25px;
    margin-bottom: 25px;
}
.m_food_middle ul li img {
    width: 264px;
    height: 282px;
}
.m_food_middle ul li p {
    width: 100%;
    height: 46px;
    line-height: 46px;
    background: #dfdfdf;
    color: #333;
    font-size: 16px;
    text-align: center;
}
.m_food_middle ul li a:hover p {
    background-color: #FEC601;
}

/* 页面跳转部分bottom */
.pageJump {
    display: block;
    overflow: hidden;
    width: 100%;
    text-align: center;
    height: 39px;
    padding: 30px 0px;
}
.pageJump .fenye {
    display: block;
    text-align: center;
    font-size: 14px;
}
.pageJump .fenye a {
    display: inline-block;
    margin-right: 5px;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    height: 28px;
    line-height: 28px;
    padding: 0px 10px;
    text-align: center;
    color: #666;
}
.pageJump .fenye .active{
    background-color: #C50012;
    color: #fff;
}