.love1 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.love2 {
    bottom: 0;
    left: 50%;
    transform: translate(-100%, -50%);
}

.love3 {
    bottom: 0;
    left: 50%;
    transform: translate(-150%, -100%);
}

.love4 {
    bottom: 0;
    left: 50%;
    transform: translate(-200%, -150%);
}

.love5 {
    bottom: 0;
    left: 50%;
    transform: translate(-250%, -200%);
}

.love6 {
    bottom: 0;
    left: 50%;
    transform: translate(-300%, -250%);
}

.love7 {
    bottom: 0;
    left: 50%;
    transform: translate(-350%, -300%);
}

.love8 {
    bottom: 0;
    left: 50%;
    transform: translate(-400%, -350%);
}

.love9 {
    bottom: 0;
    left: 50%;
    transform: translate(-450%, -400%);
}

.love10 {
    bottom: 0;
    left: 50%;
    transform: translate(-500%, -450%);
}

.love11 {
    bottom: 0;
    left: 50%;
    transform: translate(-500%, -500%);
}

.love12 {
    bottom: 0;
    left: 50%;
    transform: translate(-500%, -500%);
}

.love13 {
    bottom: 0;
    left: 50%;
    transform: translate(-450%, -550%);
}

.love14 {
    bottom: 0;
    left: 50%;
    transform: translate(-400%, -600%);
}

.love15 {
    bottom: 0;
    left: 50%;
    transform: translate(-350%, -600%);
}

.love16 {
    bottom: 0;
    left: 50%;
    transform: translate(-300%, -600%);
}

.love17 {
    bottom: 0;
    left: 50%;
    transform: translate(-250%, -600%);
}

.love18 {
    bottom: 0;
    left: 50%;
    transform: translate(-200%, -550%);
}

.love19 {
    bottom: 0;
    left: 50%;
    transform: translate(-150%, -500%);
}

.love20 {
    bottom: 0;
    left: 50%;
    transform: translate(-100%, -450%);
}

.love21 {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -400%);
}

.love22 {
    bottom: 0;
    left: 50%;
    transform: translate(0, -400%);
}

.love23 {
    bottom: 0;
    left: 50%;
    transform: translate(50%, -450%);
}

.love24 {
    bottom: 0;
    left: 50%;
    transform: translate(100%, -500%);
}

.love25 {
    bottom: 0;
    left: 50%;
    transform: translate(150%, -550%);
}

.love26 {
    bottom: 0;
    left: 50%;
    transform: translate(200%, -600%);
}

.love27 {
    bottom: 0;
    left: 50%;
    transform: translate(250%, -600%);
}

.love28 {
    bottom: 0;
    left: 50%;
    transform: translate(300%, -600%);
}

.love29 {
    bottom: 0;
    left: 50%;
    transform: translate(300%, -600%);
}

.love30 {
    bottom: 0;
    left: 50%;
    transform: translate(350%, -600%);
}

.love31 {
    bottom: 0;
    left: 50%;
    transform: translate(400%, -550%);
}

.love32 {
    bottom: 0;
    left: 50%;
    transform: translate(450%, -500%);
}

.love33 {
    bottom: 0;
    left: 50%;
    transform: translate(450%, -450%);
}

.love34 {
    bottom: 0;
    left: 50%;
    transform: translate(400%, -400%);
}

.love35 {
    bottom: 0;
    left: 50%;
    transform: translate(350%, -350%);
}

.love36 {
    bottom: 0;
    left: 50%;
    transform: translate(300%, -300%);
}

.love37 {
    bottom: 0;
    left: 50%;
    transform: translate(250%, -250%);
}

.love38 {
    bottom: 0;
    left: 50%;
    transform: translate(200%, -200%);
}

.love39 {
    bottom: 0;
    left: 50%;
    transform: translate(150%, -150%);
}

.love40 {
    bottom: 0;
    left: 50%;
    transform: translate(100%, -100%);
}

.love41 {
    bottom: 0;
    left: 50%;
    transform: translate(50%, -50%);
}

.love42 {
    bottom: 0;
    left: 50%;
}

.sc1 {
    bottom: 0;
    left: 20px;
    background: -webkit-linear-gradient(left, rgba(237, 28, 36, 1) 0px, rgba(0, 0, 0, 0) 45px);
    animation: move 2.5s 11s infinite alternate;
    opacity: 0;
    z-index: 9999;
}

@keyframes move {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 100px;
        opacity: 1;
    }
}

.sc2 {
    bottom: 0;
    left: 120px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 0, 1) 0px, rgba(0, 0, 0, 0) 45px);
    animation: move2 2.5s 11s infinite alternate;
    opacity: 0;
    z-index: 9999;
}

@keyframes move2 {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 150px;
        opacity: 1;
    }
}

.sc3 {
    bottom: 0;
    left: 220px;
    background: -webkit-linear-gradient(left, rgba(255, 192, 0, 1) 0px, rgba(0, 0, 0, 0) 45px);
    animation: move3 2.5s 11s infinite alternate;
    opacity: 0;
    z-index: 9999;
}

@keyframes move3 {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 200px;
        opacity: 1;
    }
}

.sc4 {
    bottom: 0;
    left: 320px;
    background: -webkit-linear-gradient(left, rgba(128, 128, 128, 1) 0px, rgba(0, 0, 0, 0) 45px);
    animation: move4 2.5s 11s infinite alternate;
    opacity: 0;
    z-index: 9999;
}

@keyframes move4 {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 250px;
        opacity: 1;
    }
}

.sc5 {
    bottom: 0;
    left: 420px;
    background: -webkit-linear-gradient(left, rgba(8, 88, 32, 1) 0px, rgba(0, 0, 0, 0) 45px);
    animation: move5 2.5s 11s infinite alternate;
    opacity: 0;
    z-index: 9999;
}

@keyframes move5 {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 300px;
        opacity: 1;
    }
}

@keyframes move6 {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 350px;
        opacity: 1;
    }
}

.sc6 {
    bottom: 0;
    left: 520px;
    background: -webkit-linear-gradient(left, rgba(0, 176, 240, 1) 0px, rgba(0, 0, 0, 0) 45px);
    animation: move6 2.5s 11s infinite alternate;
    opacity: 0;
    z-index: 9999;
}

.sc7 {
    bottom: 0;
    left: 620px;
    background: -webkit-linear-gradient(left, rgba(240, 0, 189, 1) 0px, rgba(0, 0, 0, 0) 45px);
    animation: move7 2.5s 11s infinite alternate;
    opacity: 0;
    z-index: 9999;
}

@keyframes move7 {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 300px;
        opacity: 1;
    }
}

.sc8 {
    bottom: 0;
    left: 720px;
    background: -webkit-linear-gradient(left, rgba(0, 32, 96, 1) 0px, rgba(0, 0, 0, 0) 45px);
    animation: move8 2.5s 11s infinite alternate;
    opacity: 0;
    z-index: 9999;
}

@keyframes move8 {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 250px;
        opacity: 1;
    }
}

@keyframes move9 {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 200px;
        opacity: 1;
    }
}

.sc9 {
    bottom: 0;
    left: 820px;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0px, rgba(0, 0, 0, 0) 45px);
    animation: move9 2.5s 11s infinite alternate;
    opacity: 0;
    z-index: 9999;
}

.sc10 {
    bottom: 0;
    left: 920px;
    background: -webkit-linear-gradient(left, rgba(112, 48, 160, 1) 0px, rgba(0, 0, 0, 0) 45px);
    animation: move10 2.5s 11s infinite alternate;
    opacity: 0;
    z-index: 9999;
}

@keyframes move10 {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 150px;
        opacity: 1;
    }
}

.sc11 {
    bottom: 0;
    left: 1020px;
    background: -webkit-linear-gradient(left, rgba(255, 48, 160, 1) 0px, rgba(0, 0, 0, 0) 45px);
    animation: move11 2.5s 11s infinite alternate;
    opacity: 0;
    z-index: 9999;
}

@keyframes move11 {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 100px;
        opacity: 1;
    }
}